local/

.env*
!.env.example

node_modules/
__pycache__/
*.py[co]
.venv/
venv/

dist/
.vite/
*.tsbuildinfo

*.db
*.sqlite*

supabase/*
!supabase/dataset/db.sql

.idea/
*.sw[po]
*~

.DS_Store

*.log
*.tmp
*.temp
.cache/

coverage/

cspell.json
